/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: white;
}

/* Container principal */
#main-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    background-color: #1e1e1e;
}

/* Estilizando o iframe */
iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1e1e1e;
}
