@font-face {
  font-family: 'MinhaFonte';  
  src: url('../assets/MinhaFonte.ttf') format('truetype'); 
}

html, body {
    touch-action: manipulation;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'MinhaFonte';
    background-color: #16161c;
    color: #a3c255;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url('../assets/hck1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contêiner do menu principal */
.menu-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

#logo-container{
    background-image: url('../assets/logo.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#novo-jogo-btn{
    padding-top: 30px;
    background-image: url(../assets/btnnewgame.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #16161c;
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0, 0.0);
}

#continuar-jogo-btn{
    padding-top: 30px;
    background-image: url(../assets/btncont.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #16161c;
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0, 0.0);
}

.menu-buttons{
    padding-top: 100px;

}

/* Contêiner do jogo (inicialmente escondido) */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* espaço entre os itens */
    height: 100vh; /* ocupa tela toda */
    box-sizing: border-box;
  }

  .game-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


.game-container h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilo do texto de BTC */


.game-header{
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 5px;
    min-width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: #a3c255;
    z-index: 1;
    background-color: #16161c;
    border-bottom: #6fa341 solid 5px;
    height: 50px;
}







.computer {
    width: 100%; /* ou o tamanho que quiser limitar */
    height: auto;
    display: block;
    margin: 20px auto; /* centraliza e dá espaçamento */
  }
  

#hackear {
    text-align: center;
    margin: 0 auto;
    background-image: url('../assets/teclado.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 170px;
    border: none;
    background-color: rgb(22, 22, 28,0.0);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#hackear:active {
    transform: scale(0.95);
}



/* Estilo dos botões */
button {
    font-family: 'MinhaFonte';  
    background-color: rgba(56, 116, 80, 0.5);
    color: #a3c255;
    padding: 10px 20px;
    margin: 10px 0;
    border: 5px solid #6fa341;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Estilo dos botões ao passar o mouse */
button:hover {
    background-color: #12681c;
}

button:disabled {
    background-color: #757575;
    cursor: not-allowed;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}



/* Garante que o menu inicie oculto */
.hidden {
    display: none !important;
}

/* Torna o modal visível quando ativo */
#upgrade-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/lojinha.gif) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#upgrade-menu.active {
    visibility: visible;
    display: absolute;
    width: 100%;
    height: 100%;
}

.upgrade-content {
    padding: 20px;
    top: 55px;
    color: white;
    text-align: center;
    width: 90%;
    height: 100%;
    position: relative;
    background-color: none;;
}

#upgrade-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    max-height: 70vh;  
    overflow-y: auto;
}

#upgrade-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btnloja{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    height: 30px;
    padding-top: 35px;
}

/* Botão para abrir o menu de upgrades */
#open-upgrade-menu {
    left: 10px;
    background-image: url('../assets/btnloja.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    margin:10px;
}

h2 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}


.close-btn {
    position: absolute;
    color: white;
    background-color: rgba(56, 116, 80, 0.0);
    z-index: 2;
    text-align: right;
    right: 10px
}

#close-upgrade-btn{
    width: 40px;
    height: 38px;
    border: none; 
    outline: none; 
}

.upgrade-content button{
    height: 60px;
    font-size: 16px;
    margin: 3px 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #6fa341;
}
.upgrade-btn {
    color: rgb(255, 255, 255);              
    border: none;              
    padding: 10px 20px;            
    cursor: pointer;          
    transition: all 0.3s ease; 
    display: inline-block;
    min-height: 140px; 
}


.upgrade-btn.locked {
    background-color: rgb(37, 37, 37,0.2);
    border: 5px solid rgb(0, 0, 0,0.2);
    color: rgb(204, 204, 204,0.2);
    cursor: not-allowed;
}


#login-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 100%;
    
}

#register-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 100%;
    
}


.login-btn{
    padding-top: 70px;
}

#login-btn {
    margin-top: 30px;
    background-image: url(../assets/btnlogin.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #16161c;
    width: 80%;
    height: auto;
    color: rgba(0, 0, 0, 0.0);
    background-color:rgba(0, 0, 0, 0.0);

}


#register-btn{
    padding-top: 10px;
    background-image: url(../assets/btnsignup.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #16161c;
    width: 80%;
    height: auto;
    color: rgba(0, 0, 0, 0.0);
    background-color:rgba(0, 0, 0, 0.0);
}



input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: solid 8px #1e2029;;
    background-color: #16161c;
    color: #6fa341;
    height: 25px;
    font-family: 'MinhaFonte';
    font-size: 16px;
}